<div class="container flex items-center justify-center">
  <form (ngSubmit)="submit()" class="w-[500px] flex flex-col gap-4 px-4">
    <div class="text-3xl font-medium">{{ isLoginPage ? 'Авторизация' : 'Регистрация' }}</div>
    <mat-form-field>
      <mat-label>Введите email</mat-label>
      <input
        (blur)="updateErrorMessage(email)"
        [formControl]="email"
        matInput
        placeholder="example@example.com"
        required
      />
      @if (email.invalid) {
        <mat-error class="error-message">{{ errors.get(email)() }}</mat-error>
      }

    </mat-form-field>

    <mat-form-field>
      <mat-label>Введите пароль</mat-label>
      <input
        (blur)="updateErrorMessage(password)"
        [formControl]="password"
        matInput
        placeholder="Пароль"
        required
        type="password"
      />
      @if (password.invalid) {
        <mat-error class="error-message">{{ errors.get(password)() }}</mat-error>
      }

    </mat-form-field>

    <mat-form-field *ngIf="!isLoginPage">
      <mat-label>Повторите пароль</mat-label>
      <input
        (blur)="updateErrorMessage(confirmPassword)"
        [formControl]="confirmPassword"
        matInput
        placeholder="Повторите пароль"
        required
        type="password"
      />
      @if (confirmPassword.invalid) {
        <mat-error class="error-message">{{ errors.get(confirmPassword)() }}</mat-error>
      }

    </mat-form-field>

    <div class="text-gray-500/50">
      <span>{{ isLoginPage ? 'Если нет аккаунта' : 'Если есть аккаунт' }}</span>
      <button
        (click)="handleChangePage()"
        class="px-2 underline hover:text-textLight transition-colors"
      >{{ isLoginPage ? 'Регистрация' : 'Вход' }}
      </button>
    </div>

    <button
      [disabled]="disabledButton || loaderService.getLoading()"
      class="min-h-14 mt-2" mat-stroked-button type="submit"
    >
      {{ loaderService.getLoading() ? 'Загрузка...' : isLoginPage ? 'Вход' : 'Регистрация' }}
    </button>

  </form>
</div>
